.App {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  background-color: #fff;
  border-radius: 10px;
}

input[type='file'] {
  display: none;
}

.file-input {
  border-radius: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  cursor: pointer;
  display: block;
  margin-top: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.file-input:hover {
  background-color: #1010fe;
  color: #fff;
}

.file-list {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.file-list li {
  border-top: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file-list li p {
  font-weight: bold;
}

.download-btn {
  padding: 12px;
  border-radius: 50%;
  border: none;
  background-color: #ededed;
  cursor: pointer;
}

.download-btn:hover {
  color: #fff;
  background-color: #1010fe;
}